<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance librería</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/productos.css">
    <link rel="stylesheet" href="../css/horarios.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="../js/mayor.js"></script>
    <script src="../js/carousel.js"></script>
</head>
<body>
    <header class="container-header">
        <h1><a class="dropdown-item" href="./index.html">Balance</a></h1>
        <nav>
            <ul>
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
                <li><a href="./Horarios-de-atencion.html">Horarios de atención</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="productosDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Productos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="productosDropdown">
                        <a class="dropdown-item" href="./ofertas.html">Ofertas</a>
                        <a class="dropdown-item" href="./biblioratosycarpetas.html">Biblioratos y Carpetas</a>
                        <a class="dropdown-item" href="./cuadrenillos.html">Cuadernillos</a>
                        <a class="dropdown-item" href="./abrochadoras.html">Abrochadoras</a>
                        <a class="dropdown-item" href="./perforadora.html">Perforadora</a>
                        <a class="dropdown-item" href="./resmas.html">Resmas</a>
                        <a class="dropdown-item" href="./resaltadores.html">Resaltadores</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="container mt-5">
            <div class="imagen text-center">
                <section class="container mt-5">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../img/BalanceLibreria.jpeg" alt="Imagen 1" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="../img/Lapiceras.webp" alt="Imagen 2" class="d-block w-100">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="py-5">
                <h2 class="text-center">Bienvenido a Balance Libreria</h2>
                <p class="text-center">Articulos de libreria y centro de copiado</p>
                <h2 class="text-center">Nuestros Productos</h2>
                <p class="text-center">¡¡Aprovecha estos precios!! ideales para estudiantes</p>
                <ul class="list-group mx-auto" style="max-width: 300px;">
                    <li class="list-group-item">Biblioratos y Carpetas</li>
                    <li class="list-group-item">Cuadernillos económicos</li>
                    <li class="list-group-item">Abrochadoras</li>
                    <li class="list-group-item">Perforadora</li>
                    <li class="list-group-item">Resmas</li>
                    <li class="list-group-item">Resaltadores</li>
                </ul>
                <h2 class="text-center mt-4">Ubicación</h2>
                <h3 class="text-center">Nos encontramos en:</h3>
                <p class="text-center">Mendoza 2031</p>
                <p class="text-center">Rosario, Santa Fe.</p>
                <h2 class="text-center mt-4">Contacto</h2>
                <p class="text-center">Teléfono: (341) 456-7890</p>
                <p class="text-center">Correo electrónico: balancenegocio@gmail.com</p>
                <h2 class="text-center mt-4">Medios de pagos</h2>
                <p class="text-center">Tarjetas</p>
                <p class="text-center">Efectivo</p>
                <p class="text-center">Mercado pago</p>
            </div>
        </section>
    </main>
    <footer class="container-footer text-center py-3">
        <p>&copy; BalanceLibreria. Todos los derechos reservados.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>