<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/quienessomos.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>Balance - Historia de una tienda</title>
</head>
<body>
    <header class="container-header">
        <h1><a class="dropdown-item" href="./index.html">Balance</a></h1>
        <nav>
            <ul>
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
                <li><a href="./Horarios-de-atencion.html">Horarios de atención</a></li>
                <li><a href="./Quienessomos.html"> ¿Quienes somos?</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="productosDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Productos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="productosDropdown">
                        <a class="dropdown-item" href="./ofertas.html">Ofertas</a>
                        <a class="dropdown-item" href="./biblioratosycarpetas.html">Biblioratos y Carpetas</a>
                        <a class="dropdown-item" href="./cuadrenillos.html">Cuadernillos</a>
                        <a class="dropdown-item" href="./abrochadoras.html">Abrochadoras</a>
                        <a class="dropdown-item" href="./perforadora.html">Perforadora</a>
                        <a class="dropdown-item" href="./resmas.html">Resmas</a>
                        <a class="dropdown-item" href="./resaltadores.html">Resaltadores</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h2 class="text-center">Nuestra Historia</h2>
        <p>Hace muchos años, en el centro de San Nicolás de los Arroyos, Argentina, nació una pequeña tienda de artículos de papelería llamada "Balance". Este lugar se convirtió en un rincón especial para estudiantes, artistas y oficinistas que buscaban los mejores suministros de papelería para dar rienda suelta a su creatividad.</p>
        <div class="image-container">
            <div class="image">
                <img src="../img/Don Bruno.jpg" alt="Imagen 3">
            </div>
            <div class="image">
                <img src="../img/Don Agustin.jpeg" alt="Imagen 2">
            </div>
        </div>
        <p>Los fundadores de la tienda, Don Bruno y Don Agustín, tenían una pasión por la papelería desde su juventud. Decidieron abrir "Balance" para compartir su amor por los útiles escolares, las carpetas de colores y los bolígrafos de calidad con la comunidad.</p>
        <div class="video-container">
            <iframe width="560" height="315" src="../y2mate.com - Comercial Cuaderno Rivadavia_720p.mp4" frameborder="0" allowfullscreen></iframe>
        </div>
        <p>Con el tiempo, "Balance" se convirtió en un lugar emblemático de la ciudad. Los clientes no solo venían a comprar suministros, sino también a inspirarse y conectarse con otros amantes de la papelería.</p>
    </div>
    <footer class="container-footer text-center py-3">
        <div class="social-icons">
            <a href="https://www.facebook.com" class="social-icon"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/" class="social-icon"><i class="fab fa-instagram"></i></a>
            <a href="mailto:correo@gmail" class="social-icon"><i class="far fa-envelope"></i></a>
            <a href="https://wa.me/tunumerodetelefono" class="social-icon"><i class="fab fa-whatsapp"></i></a>
        </div>
        <p>&copy; BalanceLibreria. Todos los derechos reservados.</p>
    </footer>
</body>
</html>