<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance librería</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <header class="container-header">
        <h1>Balance</h1>
        <nav>
            <ul>
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
                <li><a href="./Horarios-de-atencion.html">Horarios de atención</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="productosDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Productos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="productosDropdown">
                        <a class="dropdown-item" href="./ofertas.html">Ofertas</a>
                        <a class="dropdown-item" href="./biblioratosycarpetas.html">Biblioratos y Carpetas</a>
                        <a class="dropdown-item" href="./cuadrenillos.html">Cuadernillos</a>
                        <a class="dropdown-item" href="./abrochadoras.html">Abrochadoras</a>
                        <a class="dropdown-item" href="./perforadora.html">Perforadora</a>
                        <a class="dropdown-item" href="./resmas.html">Resmas</a>
                        <a class="dropdown-item" href="./resaltadores.html">Resaltadores</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="productos">
            <h2 class="text-center">Ofertas</h2>
            <div class="imagen-container">
                <div class="producto">
                    <h4>Faber Castell pastel</h4>
                    <img src="../img/Resaltadores/Faber castell pastel.jpg" alt="Imagen 1">
                    <div class="info-producto">
                        <p class="precio">$1500</p>
                        <button class="btn-comprar">Comprar</button>
                    </div>
                </div>
                <div class="producto">
                    <h4>Faber Castell</h4>
                    <img src="../img/Resaltadores/Faber Castell.jpg" alt="Imagen 2">
                    <div class="info-producto">
                        <p class="precio">$1200</p>
                        <button class="btn-comprar">Comprar</button>
                    </div>
                </div>
                <div class="producto">
                    <h4>Filgo</h4>
                    <img src="../img/Resaltadores/Resaltadores-Filgo-Text-Marker-Fluor.jpg" alt="Imagen 3">
                    <div class="info-producto">
                        <p class="precio">$800</p>
                        <button class="btn-comprar">Comprar</button>
                    </div>
                </div>
                <div class="producto">
                    <h4>Trabi</h4>
                    <img src="../img/Resaltadores/Trabi.jpg" alt="Imagen 4">
                    <div class="info-producto">
                        <p class="precio">$900</p>
                        <button class="btn-comprar">Comprar</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="container-footer text-center py-3">
        <p>&copy; BalanceLibreria. Todos los derechos reservados.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>